<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Exam Portal
                    </a>
                </li>
                <li>
                    <a href="#">
                        About RICE
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://riceindia.org">RICE Education</a> Online Examination System
        </p>
    </div>
</footer>
