<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group label-floating">
                    <label class="control-label">Name of Question Paper</label>
                    <input type="email" class="form-control">
                </div>
                <div class="dropdown">
                        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                            Duration
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">15 minutes</a></li>
                            <li><a href="#">30 minutes</a></li>
                            <li><a href="#">45 minutes</a></li>
                            <li class="divider"></li>
                            <li><a href="#">1 hour</a></li>
                            <li><a href="#">2 hours</a></li>
                            <li><a href="#">3 hours</a></li>
                            <li class="divider"></li>
                        </ul>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Number of questions</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Marks per question</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Passing marks</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Marks per wrong answer</label>
                    <input type="email" class="form-control">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button class="btn btn-warning">Choose Questions</button>
            </div>
            
        </div>
        <div class="row">
            <button class="btn btn-success">Save Question Paper</button>
        </div>
    </div>
</div>